<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="functions.js"> </script>

    {% block head %}
    {% endblock %}
</head>

<body>
    <p> Current user: {{ current_user.id }} </p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashed-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
</body>
</html>